/* macro page layout */
.page-grid {
    display: grid;
    grid-template-rows: 80px 1fr 140px;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    height: 100%;
    background: linear-gradient(
        to bottom,
        #002244 0%,
        #004488 50%,
        #336699 100%
    );
}

body {
    margin: 0;
    padding: 0;
}

/* navigation bar layout */
nav {
    grid-area: header;
    background-color: #001a33;
    position: relative;
}

/* ============= flipping coin START ============= */
.slideshow {
    position: relative;
    left: 50px;
    top: 21px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    cursor: pointer;
}

.slideshow img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.img1 { animation-name: fadeA; }
.img2 { animation-name: fadeB; }

@keyframes fadeA {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

@keyframes fadeB {
    0%, 50% { opacity: 0; }
    51%, 100% { opacity: 1; }
}
/* ============= flipping coin END ============= */

/* ============= Search bar START ============= */
.search-bar {
    position: absolute;
    right: 130px;
    top: 19px;
    width: 100%;
    height: 40px;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 2px 15px;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 15px;
    color: #e4e3ec;
}

::placeholder {
    color: #e4e3ec;
}

.search-bar button img {
    width: 18px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}
/* ============= Search bar END ============= */
.user-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 22px;
    cursor: pointer;
}

nav > hr {
    position: absolute;
    bottom: 0;
    width: 1903px;
    padding: 0;
    margin: 0;
}

/* aside menu/filters layout */
aside {
    grid-area: sidebar;
    position: relative;
}

aside > fieldset {
    position: relative;
    top: 83px;
    left: 20px;
}

/* lib layout */
section {
    grid-area: content;
}

.grid-lib {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    gap: 10px;
    padding: 90px;
}

.card {
    height: 290px;
    width: 200px;
}

/* footer? layout */
footer {
    grid-area: footer;
}


/* CONSIDERAÇÕES: 

    - Botões
    - Imagens
    - Animação dos cards
    - Efeitos de luz
    - Consertar o fade                                          DONE ✔
    - Fonte
    - Deixar o site responsivo!! tem muita medida absoluta aqui, isso vai ser um problema! (eu acho)
*/